/* Estilos para o container principal */
.container-barbearia {
    width: 90%;
    margin: 0 auto;
    overflow: hidden; /* Para conter os floats */
}

/* Estilos para o cabe칞alho */
header {
    background: linear-gradient(yellow, #000000);
    color: rgb(239, 204, 10);
    padding: 10px 0;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 5em; /* Tamanho do t칤tulo principal */
    font-family: 'Brush Script MT', cursive; /* Fonte estilizada */
}
header p {
    margin: 5px 0 0 0;
    font-size: 1.2em;
}

/* Estilos para a se칞칚o de promo칞칚o */
.promo칞칚o {
    background-color: yellow;
    color: black;
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espa칞amento interno */
    font-size: 1.5em; /* Tamanho da fonte maior */
    font-weight: bold; /* Texto em negrito */
    margin: 20px 0; /* Espa칞amento acima e abaixo da se칞칚o de promo칞칚o */
    border: 5px solid white; /* Borda branca */
    border-radius: 100px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para dar destaque */
}

/* estilos para o menu de navega칞칚o */
.menu a{ 
    background-color: yellow;
    padding: 5px 0; /* Espa칞amento interno dos links */
    border: 0px solid yellow; /* Borda inicial transparente */
    box-sizing: border-box; /* Inclui a borda no tamanho total do link */
    display: inline-block; /* Permite definir largura e altura */
    text-align: center; /* Centraliza os itens do menu */
    color: white; /* Cor do texto dos links */
    transition: background-color 0.3s, color 0.3s; /* Adiciona uma transi칞칚o suave para as mudan칞as de cor */
    top: auto; /* Mant칠m o menu na parte superior da p치gina */
    width: 100%; /* Faz o menu ocupar toda a largura da tela */
    text-decoration: none; /* Remove o sublinhado dos links */
    margin: 0 10px; /* Espa칞amento entre os links */
    font-size: 25px; /* Tamanho da fonte dos links */
    line-height: 40px; /* Altura da linha para melhor espa칞amento */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* Sombra leve para dar profundidade e detalhes */
    font-style: italic; /* Texto em it치lico */
    text-decoration: underline; /* Sublinhado nos links, underline */
    scroll-behavior: smooth; /* Adiciona um efeito suave ao rolar para o topo */
}

.menu a:hover {
    background-color: black;
    color: yellow;
    border: 2px solid yellow; 
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.7);

}

/* estilos para a linha de navega칞칚o */
.navega칞칚o {
    border: 2px solid yellow; 
    margin: 0px 0; /* Espa칞amento acima e abaixo da linha */
    width: 100%; /* Faz a linha ocupar toda a largura da tela */
    box-sizing: border-box; /* Inclui a borda no tamanho total da linha */
}

.banner {
    height: 500px;
    display: flex; /* Usa Flexbox para centralizar o conte칰do */
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */  
    font-size: large;
    font-family: '洧똁洧똈洧똒洧똗-洧똁洧똌洧똖洧륋롗 洧떃洧똓洧또洧똋 洧뗷洧똘洧똈洧또洧륋롗', cursive; /* Fonte estilizada */
    color: white; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5); /* Sombra no texto para melhor legibilidade */
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(0, 0, 1, 1.0)), url('img/federico-tonini-tdDPj4Jpwu4-unsplash.jpg'); /* Imagem de fundo do banner */
    background-size: cover; /* Cobre toda a 치rea do banner */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Evita repeti칞칚o da imagem */
}

/* estilos para a se칞칚o de introdu칞칚o */
#introdu칞칚o {
    background-color: yellow; /* Cor de fundo amarela */
    padding: 15px; /* Espa칞amento interno */
    margin-top: 50px; /* Espa칞amento acima da se칞칚o de introdu칞칚o */
    margin-bottom: 20px; /* Espa칞amento abaixo da se칞칚o de introdu칞칚o */
    color: white; /* Cor do texto */
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Espa칞amento entre linhas para melhor leitura */
}

.exibicao-cortes {
    border: 2px solid white; 
    margin: 20px 0; /* Espa칞amento acima e abaixo da linha */
    width: 100%; /* Faz a linha ocupar toda a largura da tela */
    border-radius: 50px; /* Bordas arredondadas */ 
}

.card-corte {
    background-color: yellow; /* Cor de fundo amarela */
    color: black; /* Cor do texto */
    padding: 15px; /* Espa칞amento interno */
    margin: 20px 0; /* Espa칞amento acima e abaixo do cart칚o */
    border: 2px solid white; /* Borda branca */
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidade */
    width: 100%; /* Faz o cart칚o ocupar toda a largura dispon칤vel */
}

/* estilos para o body */
body {
    background-color: black; 
    margin: 0;
    padding: 0;
}

#sobre-nos {
    background-color: yellow; /* Cor de fundo amarela */
    padding: 15px; /* Espa칞amento interno */
    margin-top: 20px; /* Espa칞amento acima da se칞칚o sobre n칩s */
    margin-bottom: 20px; /* Espa칞amento abaixo da se칞칚o sobre n칩s */
    color: black; /* Cor do texto */
    text-align: justify; /* Justifica o texto */
    line-height: 1.6; /* Espa칞amento entre linhas para melhor leitura */
}

/* estilos para o footer */
footer {
    background-color: yellow;
    color: rgb(0, 0, 0); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 10px 0; /* Espa칞amento interno */
    margin-top: 20px; /* Espa칞amento acima do footer */

}
